<!DOCTYPE html>
<html>
<head>
  <title>Status App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>
<body>
<div class="container2">  
<label >Suppliers</label>


</div>


<form action="/suppliers/suppliers/add" method="get">
    <br><br><br><br><br><br>
     <div class="container">
     <button type="submit">add supplier</button>
     </div>
</form>
<form action="/suppliers/suppliers/list">
    <br><br><br><br><br><br>
     <div class="container">
     <button type="submit">Suppliers list</button>
     </div>
</form>
 
<script src="https://cdn.jsdelivr.net/npm/eruda"></script>
<script>
  eruda.init();
  console.log("Hello Android!");
</script>
<script src="{{ url_for('static', filename='js/scanbrcode2.js') }}"></script>
</body>
</html>