<!DOCTYPE html>
<html>
<head>
  <title>Status App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>
<body>
<div class="container2">  
<label >Transactions</label>



<form action="/transaction/new" >
    
       <br><br><br><br><br><br>
     <button type="submit">new transaction</button>
     
</form>
<form action="/transactions/list/Today">
    <br><br><br><br><br><br>
     
     <button type="submit">Transactions list</button>
     
</form>
 </div>
<script src="https://cdn.jsdelivr.net/npm/eruda"></script>
<script>
  eruda.init();
  console.log("Hello Android!");
</script>

</body>
</html>