<!DOCTYPE html>
<html>
<head>
    <title>View Data</title>
    
</head>
<body class="bg-white">



    <div class="container py-4">
    	<h2 class="mb-4">Products</h2>
        <div class="table-responsive shadow-sm rounded">
            <table class="table table-striped table-hover align-middle">
    	       <thead class="table-primary text-center">
                    <tr>
                    	<th class="titles">ID</th>
                      <th class="titles">Name</th>
                     <th class="titles">Barcode</th>
                        <th class="titles">Price</th>
           
                       <th class="titles">quantity</th>
                   </tr>
               </thead>
        <tbody class="text-center">
        {% for row in data %}
        <tr>
            <td>{{ row.product_id}}</td>
            <td>{{ row.name}}</td>
            <td>{{ row.barcode }}</td>
            <td>{{ row.current_price }}</td>
             <td>{{ row.quantity_float}}</td>
           
        </tr>
        {% endfor %}
        </tbody>
    </table>
   </div>
   </div>
</body>
</html>