<!DOCTYPE html>
<html>
<head>
    <title>View Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/product_list.css') }}">
</head>
<body>



    <div class="container">
    <table border="1" width="">
    	<caption>Products</caption>
        <tr>
        	<th class="titles">ID</th>
            <th class="titles">Name</th>
<th class="titles">Barcode</th>
            <th class="titles">Price</th>
           
            <th class="titles">quantity</th>
            <th class="titles" style="{% if not purchase_id %}display:none;{% endif %}" ></th>
            <th class="titles"></th>
            <th class="titles"></th>
            <th class="titles"></th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row.product_id}}</td>
            <td>{{ row.name}}</td>
            <td>{{ row.barcode }}</td>
            <td>{{ row.current_price }}</td>
             <td>{{ row.quantity}}</td>
           <td style="{% if not purchase_id %}display:none;{% endif %}" >
<button onclick="window.open('/product/{{ row.product_id }}/addproducts', '_blank', 'width=600,height=400')">
 Add
 </button>
 </td>
 <td>	
<button onclick="window.open('/product/{{ row.product_id }}/viewpurchases', '_blank', 'width=600,height=400')">
 View
 </button>
</td>
            <td>
 <button onclick="window.open('/product/{{ row.product_id }}/edit', '_blank', 'width=600,height=400')">
 Edit
 </button>
</td>
<td>
 <button onclick="window.open('/product/{{ row.product_id }}/remove', '_blank', 'width=600,height=400')">
 Rm
 </button>
</td>
        </tr>
        {% endfor %}
    </table>
   </div>
 <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
<script>
  eruda.init();
  console.log("Hello Android!");
</script>

</body>
</html>