<!DOCTYPE html>
<html>
<head>
    <title>View Data</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
</head>
<body class="bg-light">
    


    
    	<h2 class="mb-4 text-primary">Purchase {{purchase_id}} Items</h2>
    	<div class="table-responsive">
    <table class="table table-bordered table-striped align-middle text-center shadow-sm">
    	<thead class="table-primary">
    	<tr>
        	<th class="titles"></th>
        <th class="titles"></th>
            <th class="titles"></th>
            <th class="titles"></th>
            <th class="titles" id="purchase_total"></th>
            <th class="titles" id="sale_total"></th>
            <th class="titles"></th>
            <th class="titles" id="profit_total"></th>
            
        </tr>
        <tr>
        	<th class="titles">Purchase</th>
        <th class="titles">Date</th>
            <th class="titles">Supplier</th>
            <th class="titles">product</th>
            <th class="titles">purchase_price</th>
            <th class="titles">price</th>
            <th class="titles">quantity</th>
            <th class="titles">profit</th>
            
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            
             <td><input   id="purchaseprice_{{ row[7] }}" style="width:auto;min-width:80px;max-width:110px;"type="number" class="form-control text-center d-inline-block" value="{{ row[4] }}" onchange="updatePurchaseItem('{{row[7]}}','{{ row[8] }}','{{ row[9] }}','purchaseprice',this.value)"></td>
             <td><input   id="price_{{ row[7] }}" style="width:auto;min-width:80px;max-width:110px;"type="number" class="form-control text-center d-inline-block" value="{{ row[5] if row[8] else 0}}" onchange="updatePurchaseItem('{{row[7]}}','{{ row[8] }}','{{ row[9] }}','price',this.value)"></td>
             
             <td><input   id="quantity_{{ row[7] }}" style="width:auto;min-width:80px;max-width:110px;"type="number" class="form-control text-center d-inline-block" value="{{ row[6] if row[8] else 0}}" onchange="updatePurchaseItem('{{row[7]}}','{{ row[8] }}','{{ row[9] }}','quantity',this.value)"></td>
             {% if row[8] %}
             <td>{{ (row[5]-row[4])*row[6] }}</td>
             {% else %}
             <td>0</td>
             {% endif %}
        </tr>
        {% endfor %}
          </tbody>
    </table>
   </div>
  <script>
 
  
  let data = {{ data|tojson }};
  console.log(data);
  let xtot=0,xtot2=0;
  data.forEach(row => {
    xtot+=parseFloat(row[4])*parseFloat(row[6]);
    xtot2+=parseFloat(row[5])*parseFloat(row[6]);
    
});
console.log(xtot);
document.getElementById("purchase_total").innerHTML=xtot;
document.getElementById("sale_total").innerHTML=xtot2;
document.getElementById("profit_total").innerHTML=xtot2-xtot;
</script>
<script>
  function updatePurchaseItem(purchase_item_id,product_id,purchase_id,casek,val){
          console.log(purchase_item_id+product_id+casek+val);
        fetch("/purchases/purchase/update_item", {
             method: "POST",
             headers: { "Content-Type": "application/json" },
             body: JSON.stringify({ 
               purchase_item_id:purchase_item_id,
               product_id:product_id,
               purchase_id:purchase_id,
               new_value:val,
               target:casek             
            })
      })
      .then(r => r.json())
      .then(data => {
      	console.log(casek);
       });

   }

</script>

 <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
<script>
  eruda.init();
  console.log("Hello Android!");
</script>
<script src="{{ url_for('static', filename='js/product_list.js') }}"></script>
</body>
</html>