<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Status App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body class="bg-light">
  <div class="container py-5">  
    <h1 class="mb-4 text-primary">Purchases: Add Supplier</h1>

    <div class="card shadow-sm p-4">
      <form action="/purchases/purchase/add" method="post" class="row g-3">
        
        <!-- Supplier -->
        <div class="col-12">
          <label for="product_supplier" class="form-label fw-bold">Supplier</label>
          <select id="product_supplier" name="supplier" class="form-select">
            <option value="">-- Select Supplier --</option>
          </select>
        </div>

        <!-- Status -->
        <div class="col-12">
          <label for="purchase_status" class="form-label fw-bold">Status</label>
          <select id="purchase_status" name="status" class="form-select">
            <option value="0">Incomplete</option>
            <option value="1">Complete</option>
          </select>
        </div>
       <div class="col-12">
          <label for="purchase_description" class="form-label fw-bold">Description</label>
          <textarea   id="purchase_description"  class="form-control w-100" name ="description" placeholder="Description" rows="1"  onchange="updatePurchaseDescription(this.id)"></textarea>
        </div>
       
        <!-- Submit Button -->
        <div class="col-12">
          <button type="submit" class="btn btn-success w-100">
            Add Purchase
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- Debug Console -->
  <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
  <script>
    eruda.init();
    console.log("Hello Android!");
  </script>
  <script>
  function updatePurchaseDescription(idq){
      element=document.getElementById(idq);
      element.style.height = "auto";     
    // reset
  element.style.height = element.scrollHeight + "px"; // adjust to fit
  
       

   }

</script>
  <!-- Your JS -->
  <script src="{{ url_for('static', filename='js/supplier_select.js') }}"></script>
  <script src="{{ url_for('static', filename='js/scanbrcode2.js') }}"></script>
</body>
</html>