<!DOCTYPE html>
<html>
<head>
  <title>Free Barcode Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <script src="https://unpkg.com/quagga/dist/quagga.min.js"></script>
</head>
<body>
  <div class="container2">
  <h1>Scan Product Barcode</h1>

    
</div>
  <div class="container">
  	
<div id="scanner"></div>

   
    
    	

</div>
<br><br><br><br>
  <div class="container2">
<h1>Detected: <span id="result"></span></h1>
</div>
<script src="https://cdn.jsdelivr.net/npm/eruda"></script>
<script>
  eruda.init();
  console.log("Hello Android!");
</script>
  <script>
    Quagga.init({
      inputStream: {
        name: "Live",
        type : "LiveStream",
        target: document.querySelector('#scanner'),
        constraints: {
          facingMode: "environment" ,// Use back camera on phones,
      width: { ideal: 1280 },        // higher resolution
      height: { ideal: 720 },
      focusMode: "continuous"        
        }
      },
      decoder: {
        readers : [
           "ean_reader",  
          "ean_8_reader",   
          "code_128_reader",  
          "upc_reader",       
          "upc_e_reader"      
        ]
      },
      locate:true,
    }, function(err) {
        if (err) { console.error(err); return }
        Quagga.start();
    });

    Quagga.onDetected(data => {
      console.log(data.codeResult.code);
      let code = data.codeResult.code;
  if (code && code.length === 13) {
    console.log("Valid EAN-13:", code);

    // send code to parent page
    if (window.opener && !window.opener.closed) {
      window.opener.setBarcode(code);
    }

    Quagga.stop();
    window.close(); // close scanner window
  } else {
    console.log("Rejected (not EAN-13):", code);
  }
  });
  </script>


</body>
</html>